@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Kanit", sans-serif;
  font-style: italic;
  font-weight: 500;
  padding: 64px 0;
}

.AppLogo {
  width: 128px;
}

.Winner {
  margin-top: 64px;
  font-size: 40px;
}

.WinnerResult {
  color: #c50000;
}

.WinnerWins {
  color: #1d2b62;
}

.NewWinner {
  background: #1d2b62;
  color: #fff;
  border: none;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  margin-top: 64px;
  padding: 16px 24px;
  border-radius: 8px;
}

.NewWinner:hover {
  cursor: pointer;
}
